.MovieInfo {
  padding-left: 10px;
  padding-right: 10px;
  white-space: pre-line;
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 320px;
}

.MovieTitle {
  color: red;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 10px;
}

.MovieAuthor {
  margin: 5px 0;
}

.MovieDescriptionText {
  font-weight: 700;
}

.MovieDescription {
  margin-top: 10px;
  font-weight: bold;
  font-style: italic;
  line-height: 20px;
  height: 60%;
  overflow: hidden;
}

@media only screen and (max-width: 1000px) {
  .MovieDescription {
    height: 10%;
  }
}
