.Logo {
  padding: 20px;
}

.Logo img {
  height: 30px;
  width: 30px;
  top: 6px;
  position: relative;
  display: inline-block;
}

.Logo a {
  padding-left: 10px;
  color: black;
  font-weight: 700;
  text-decoration: none;
  line-height: 37px;
  font-size: 25px;
}
